@charset "utf-8";

html,
body {
	font-family:'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 나눔고딕, NanumGothic, Tahoma, Sans-serif;
	margin:0;
	padding:0;
	tab-size:4;
	overflow-wrap:break-word;
	word-wrap:break-word;
	word-break:break-word
}

* {
	box-sizing:border-box
}

img {
	box-sizing:content-box
}

codeprint.SEE {
	display:none
}

#content .inner {
	padding:0 !important
}

.promoting {
	font-size:1em;
	color:white;
	background-color:black;
	max-width:1000px;
	margin:1em auto;
	padding:.5em .8em
}

.promoting .p {
	margin:.7em 0;
	padding-bottom:.5em
}

.promoting li {
	margin:.2em 0 .3em 2em;
}

.promoting a,
.promoting a.wheat {
	color:wheat !important
}

.promoting .center {
	text-align:center
}

.promoting img {
	max-width:100%;
	min-width:70%;
	width:auto
}

.copyright {
	font-size:.8em;
	color:rgb(100, 255, 100);
	background-color:rgb(0, 0, 0);
	max-width:1000px;
	margin:1em auto
}

.copyright ul {
	line-height:1.4;
	padding:.1em .5em
}

.copyright li.cc::before {
	background-image:url(https://tistory2.daumcdn.net/tistory/1468360/skin/images/cc.png)
}

.copyright li.by::before {
	background-image:url(https://tistory2.daumcdn.net/tistory/1468360/skin/images/by.png)
}

.copyright li.nc::before {
	background-image:url(https://tistory2.daumcdn.net/tistory/1468360/skin/images/nc.png)
}

.copyright li.nd::before {
	background-image:url(https://tistory2.daumcdn.net/tistory/1468360/skin/images/nd.png)
}

.copyright li.cc::before,
.copyright li.by::before,
.copyright li.nc::before,
.copyright li.nd::before {
	position:absolute;
	top:-7px;
	right:auto;
	left:0;
	background-repeat:no-repeat;
	background-size:32px 32px;
	display:inline-block;
	width:32px;
	height:32px;
	content:"";
	print-color-adjust:exact;
	-webkit-print-color-adjust:exact
}

.copyright li.license {
	color:rgb(207, 207, 164) !important;
	list-style:none;
	position:relative;
	margin:15px 0;
	padding-left:38px
}

#shortkey.shortkey {
	font-size:1em;
	color:white;
	background-color:black;
	max-width:1000px;
	margin:auto
}

#shortkey.shortkey ul.ul-short-key {
	font-size:1em;
	line-height:1.4;
	padding:0 1.5em;
	margin:.7em 0
}

#shortkey.shortkey li {
	font-size:1em;
	color:white !important
}

#floating-key {
	display:flex;
	flex-wrap:wrap;
	bottom:2.6em;
	width:9em;
	height:auto
}

.button {
	display:inline-block;
	cursor:pointer;
	margin:0;
	padding:.2em .5em;
	border:2px solid rgb(50, 50, 50);
	background-color:rgb(110, 110, 110)
}

.button-log {
	background-color:black;
	color:wheat
}

.button:active {
	background-color:rgb(0, 80, 80)
}

.button.enabled {
	background-color:rgb(50, 140, 80)
}

.button.enabled:active {
	background-color:rgb(70, 70, 70)
}

#floating-key div.button {
	cursor:pointer;
	border-top:none;
	border-radius:.3em;
	text-align:center;
	margin:0;
	padding:1px;
	width:9em;
	height:auto
}

#floating-key div.button:first-child {
	border-top:2px solid rgb(50, 50, 50)
}

.toggle-a-mess {
	background-color:rgb(200, 240, 200);
	color:#717171
}

.darkred {
	background-color:darkred
}

.cadetblue {
	background-color:cadetblue
}

.darkgoldenrod,
.bight .darkgoldenrod {
	background-color:darkgoldenrod
}

.button-Go,
.button-ToR {
	background-color:cornflowerblue
}

.button-Go.enabled {
	background-color:#037017
}

.button-list {
	background-color:#0f5796
}

.button-cmt-handle {
	background-color:#d95e05
}

#SNS-floating {
	width:100%;
	text-align:center;
	margin-top:-5px;
	padding:0
}

#SNS-floating .SNS-img {
	box-sizing:border-box;
	width:1.285714286em;
	height:1.285714286em;
	border:1px gray solid;
	border-left:0;
	cursor:pointer
}

#SNS-floating .SNS-img:first-child {
	border-left:1px gray solid
}

.docuK #floating-key,
.docuK #toggle-floating-key {
	font-size:1.4em;
	color:wheat;
	z-index:19000;
	position:fixed;
	text-align:center;
	right:.2em;
}

#toggle-floating-key {
	bottom:.2em;
	width:2.2em;
	height:2.3em;
	margin:0;
	padding:.1em
}

.docuK ::selection,
.docuK ::-moz-selection {
	background-color:#aa0000;
	color:white
}

.docuK {
	font-size:10px;
	line-height:1.6;
	font-family:'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 나눔고딕, NanumGothic, Tahoma, Sans-serif;
	text-align:justify;
	max-width:1000px;
	margin:.5em auto;
	overflow-wrap:break-word;
	word-wrap:break-word;
	word-break:break-word
}

.docuK div,
textarea {
	box-sizing:border-box;
	max-width:100%
}

/* MathJax must be handled. */
.docuK data {
	display:none
}

.docuK ::-webkit-scrollbar {
	width:3px;
	height:3px
}

.docuK ::-webkit-scrollbar-track {
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:black
}

.docuK.bright ::-webkit-scrollbar-track {
	background-color:white
}

.docuK ::-webkit-scrollbar-thumb {
	background-color:rgb(0, 120, 120);
	-webkit-box-shadow:inset 0 0 3px rgb(0, 0, 0)
}

.docuK ::-webkit-scrollbar-corner {
	background-color:transparent
}

.fs-container {
	position:fixed;
	font-size:2em;
	left:0;
	top:0;
	z-index:10010;
	background-color:black;
	width:25em;
	max-width:100%;
	height:auto;
	text-align:left
}

.bright .fs-container {
	background-color:wheat
}

#cat-fs-container {
	position:relative
}

#multireco-cat-fs-container {
	position:relative;
	width:25em;
	max-width:100%;
	height:auto;
	text-align:left
}

.fs-name {
	padding:.1em 3em
}

.fs-input {
	height:2em;
	max-height:5em;
	overflow-y:auto;
	font:inherit;
	font-size:1.3em;
	color:black;
	width:100%;
	padding:.1em;
	border:.15em gray solid;
	background-color:white
}

.fs-container textarea {
	display:block;
	max-width:100%;
	width:100%;
	resize:vertical;
	font:inherit;
	font-weight:bold;
	overflow-x:hidden;
	overflow-y:auto;
	padding:0.2em 0.3em;
	background-color:white;
	color:rgb(50, 50, 50)
}

#goto-cats {
	height:4em;
	margin-bottom:-0.4em
}

.fs-list {
	height:auto;
	min-height:2em;
	max-height:15em;
	overflow-y:auto;
	border:.15em gray solid;
	background-color:rgb(20, 20, 20)
}

.fs-list .list-item {
	background-color:black;
	color:white;
	padding:.2em .5em .4em
}

.bright .fs-list .list-item {
	background-color:rgb(240, 240, 240);
	color:black
}

.fs-list .list-item:nth-child(2n) {
	background-color:rgb(40, 40, 40)
}

.bright .fs-list .list-item:nth-child(2n) {
	background-color:white
}

.fs-list .list-item.down {
	background-color:rgb(30, 70, 30);
	border:1px solid rgb(120, 120, 70)
}

.fs-list .list-item.down:nth-child(2n) {
	background-color:rgb(60, 100, 60)
}

.fs-list .list-item.selected {
	border:.15em solid rgb(210, 150, 150)
}

.fs-list .list-item.deleted {
	background-color:rgb(70, 30, 30);
	border:1px solid rgb(120, 120, 150)
}

.list-index-id,
.fs-list .list-item .list-index,
.fs-list .list-item .list-index-id {
	display:none
}

.fs-list .list-item .cat {
	font-size:.9em
}

.fs-list .list-item .highlighted {
	font-size:.5em;
	color:rgb(150, 150, 150)
}

.fs-list .list-item .highlighted .bold {
	color:rgb(170, 250, 170)
}

.block-touch {
	display:flex;
	position:fixed;
	z-index:30000;
	inset:0;
	background-color:rgba(0, 0, 0, .5);
}

.block-touch>div {
	display:inline-block;
	margin:auto;
	border:5px solid wheat;
	width:30em;
	max-width:100%
}

.block-touch>div>div {
	padding:.5em 1em;
	width:100%;
	background-color:black;
	color:white
}

.block-touch>div>textarea {
	padding:.5em 1em;
	width:100%;
	height:20em;
	background-color:white;
	color:black
}

textarea.single-line {
	min-height:2.2em;
	height:3.8em
}

textarea.multi-line {
	font-size:.9em;
	min-height:10em
}

.docuK button {
	cursor:pointer
}

.docuK .SNS-top {
	margin-top:-31px;
	padding-top:36px;
	margin-bottom:-6px
}

.docuK .SNS-bottom {
	margin:36px 0;
	text-align:center
}

.docuK .SNS-img {
	display:inline-block;
	vertical-align:middle;
	position:relative;
	box-sizing:border-box;
	margin:0;
	width:36px;
	height:36px;
	background-color:white;
	border:2px gray solid;
	border-left:0;
	cursor:pointer
}

.docuK .SNS-img:first-child {
	border-left:2px gray solid
}

.docuK>.sec {
	position:relative;
	background-color:black;
	color:white;
	border-bottom:2px rgb(25, 60, 25) solid;
	border-top:5px rgb(25, 60, 25) solid;
	padding:.5em;
	margin:.3em 0;
	font-size:1.8em
}

.docuK.bright>.sec {
	background-color:white;
	color:black
}

.docuK>.sec .head-text {
	color:white
}

.docuK.bright>.sec .head-text {
	color:black
}

.docuK .ShowHide {
	float:right;
	padding:.3em 0;
	cursor:pointer
}

.docuK .Hide {
	float:right;
	padding:0 0 .3em;
	clear:both;
	cursor:pointer
}

.docuK .sec-contents,
.docuK>.sec.noToggleUI>h2+* {
	clear:both;
	margin-top:.6em;
	padding:0 .35em 0 0
}

/*.docuK>.sec.hiden>.sec-contents {display:none}*/
.docuK .subsec,
.docuK .subsubsec {
	margin:2em 0 .3em
}

.docuK .secN {
	margin-right:.5em
}

.docuK h1,
.docuK h2,
.docuK h3,
.docuK h4 {
	margin:0
}

.docuK h3 {
	margin-left:.5em
}

.docuK h4 {
	margin-left:1em
}

.docuK>.sec>.toc {
	font-size:.8em;
	padding:0.2em 0.2em 1em 0.2em;
	text-indent:0.5em
}

.docuK>.sec>.toc>h2 {
	margin-left:0;
	margin-top:.5em
}

.docuK>.sec>.toc>h3 {
	margin-left:1em
}

.docuK>.sec>.toc>h4 {
	margin-left:2em
}

.docuK>.sec>.toc h2,
.docuK>.sec>.toc h3,
.docuK>.sec>.toc h4 {
	padding:.2em 0
}

.docuK h1 {
	font-weight:bold;
	font-size:1.4em;
	padding:.3em .3em .6em
}

.docuK h2 {
	font-weight:bold;
	font-size:1.3em
}

.docuK .sec>h2 {
	display:inline
}

.docuK h3 {
	font-weight:bold;
	font-size:1.2em
}

.docuK h4 {
	font-weight:bold;
	font-size:1.2em
}

.docuK h2,
.docuK h3,
.docuK h4 {
	padding:.4em .3em .6em
}

.docuK h1,
.docuK h2,
.docuK h3,
.docuK h4 {
	color:white
}

.docuK.bright h1,
.docuK.bright h2,
.docuK.bright h3,
.docuK.bright h4 {
	color:black !important
}

.docuK .promoting-docuK a {
	text-decoration:none
}

.docuK .promoting-docuK a:link {
	color:rgb(200, 200, 255)
}

.docuK .promoting-docuK a:visited {
	color:rgb(100, 180, 200)
}

.docuK .promoting-docuK a:active {
	color:rgb(100, 250, 250)
}

.docuK .promoting-docuK a:hover {
	color:rgb(200, 255, 200);
	text-decoration:underline
}

.docuK a {
	text-decoration:none
}

.docuK a:link {
	color:rgb(200, 200, 255)
}

.docuK a:visited {
	color:rgb(100, 180, 200)
}

.docuK a:active {
	color:rgb(80, 250, 250)
}

.docuK a:hover {
	color:rgb(100, 255, 100);
	text-decoration:underline
}

.docuK a.emph {
	font-weight:bold
}

.docuK a.emph:link {
	color:rgb(255, 160, 200)
}

.docuK a.emph:visited {
	color:rgb(255, 140, 180)
}

.docuK a.emph:active {
	color:rgb(80, 250, 250)
}

.docuK a.emph:hover {
	color:rgb(200, 255, 100);
	text-decoration:underline
}

.docuK a.jump:link {
	color:rgb(230, 235, 255)
}

.docuK a.jump:visited {
	color:rgb(230, 235, 255)
}

.docuK a.jump:active {
	color:rgb(80, 250, 250)
}

.docuK a.jump:hover {
	color:rgb(200, 255, 150)
}

.docuK span.nolink {
	color:rgb(150, 150, 100)
}

.docuK.bright a:link {
	color:rgb(83 83 223)
}

.docuK.bright a:visited {
	color:rgb(165 73 232)
}

.docuK.bright a:active {
	color:rgb(30, 100, 100)
}

.docuK.bright a:hover {
	color:rgb(0, 105, 0)
}

.docuK.bright a.jump:link {
	color:rgb(80, 85, 105)
}

.docuK.bright a.jump:visited {
	color:rgb(80, 85, 105)
}

.docuK.bright a.jump:active {
	color:rgb(30, 100, 100)
}

.docuK.bright a.jump:hover {
	color:rgb(50, 105, 0)
}

.docuK.bright span.nolink {
	color:rgb(150, 150, 0)
}

.docuK .change-docuK-style form button.enabled {
	background-color:rgb(50, 140, 80);
	border:2px solid #a37070
}

.docuK.bright .change-docuK-style form button.enabled {
	background-color:rgb(120, 210, 150);
	border:2px solid #f3a0a0
}

.docuK a.tJump {
	display:inline-block;
	font-size:.6em;
	margin:0 1em 0 -.5em;
	vertical-align:middle;
	padding:0 .26em;
	border:2px solid rgb(50, 50, 122);
	font-weight:bold
}

.docuK.bright a.tJump {
	text-decoration:none
}

.docuK div,
.docuK form,
.docuK input,
.docuK textarea {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width:100%
}

.docuK .p {
	overflow-x:visible;
	overflow-y:visible;
	padding:.2em .2em 1em .2em;
	text-indent:.5em
}

.docuK .borderByBackground {
	display:inline-block;
	padding:10px;
	background-color:white
}

.docuK .ex {
	border:.2em solid gray;
	padding:0 .5em .5em;
	margin:.5em auto
}

.docuK cite,
.docuK refer {
	font:inherit;
	font-size:1em;
	text-indent:0
}

.docuK data {
	display:none
}

.docuK .emph {
	color:rgb(255, 150, 150)
}

.docuK.bright .emph {
	color:rgb(255, 60, 60)
}

.docuK .none,
.none {
	display:none
}

.docuK .center,
.center {
	text-align:center
}

.docuK .right,
.right {
	text-align:right
}

.docuK .fLeft,
.fLeft {
	float:left
}

.docuK .fRight,
.fRight {
	float:right
}

.docuK .dCenter,
.dCenter {
	margin-left:auto;
	margin-right:auto
}

.docuK .cBoth,
.cBoth {
	clear:both
}

.docuK .bold,
.bold {
	font-weight:bold
}

.docuK .underline,
.underline {
	text-decoration:underline
}

.docuK .italic,
.italic {
	font-style:italic
}

.docuK img,
img {
	min-width:1em;
	min-height:1em;
	max-width:100%;
	max-height:100%
}

.docuK ul,
.docuK ol {
	margin:0;
	padding:0
}

.docuK li,
.docuK dd {
	margin:.3em 0 .5em 2em
}

.docuK code {
	overflow-wrap:break-word;
	word-wrap:break-word;
	white-space:pre-wrap;
	word-break:break-all;
	font-family:monospace;
	font-size:.9em;
	padding:.2em;
	display:inline;
	border:2px solid rgb(200, 150, 150);
	border-radius:.2em;
	background-color:rgb(30, 30, 30)
}

.docuK.bright code {
	background-color:rgb(230, 230, 230)
}

/* r(S)C:Ratio (Sub)Container */
.rC {
	margin:.5em auto
}

.docuK .rC.facebook {
	max-width:550px
}

.rC.recoeve {
	border:1px solid white;
	border-right:1em solid rgb(30, 30, 60)
}

.rC.fixed {
	position:fixed;
	z-index:10000;
	top:0;
	left:0;
	width:100%;
	max-width:100%;
	margin:0;
	padding:1px;
	background-color:black;
	border-bottom:.15em solid white
}

.bright .rC.fixed {
	background-color:white;
	border-color:black
}

.rC>.rSC {
	position:relative;
	height:0;
	padding-bottom:57%
}

.rC.recoeve>.rSC {
	padding-bottom:150%
}

.rC.soundcloud>.rSC {
	padding-bottom:20%
}

.rC.instagram>.rSC {
	padding-bottom:246%;
	overflow:auto
}

.rC.imgur>.rSC {
	padding-bottom:185%;
	overflow:auto
}

.rC.facebook>.rSC {
	padding-bottom:234%;
	overflow:auto
}

.rC.tiktok>.rSC {
	height:895px;
	padding-bottom:0;
	overflow-x:hidden;
	overflow-y:scroll
}

.rC.eveElse>.rSC {
	padding-bottom:80%
}

.rC>.rSC>* {
	position:absolute;
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	inset:0;
	overflow-x:hidden;
	overflow-y:hidden
}

.rC>.rSC>.center {
	position:absolute;
	text-align:center;
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	inset:0;
	overflow-x:hidden;
	overflow-y:hidden
}

.rC>.rSC>.center>iframe {
	position:absolute;
	width:100%;
	height:100%;
	max-width:100%;
	min-height:100%;
	inset:0;
	overflow-x:hidden;
	overflow-y:auto
}

.rC>.rSC>.center>img {
	display:inline-block;
	max-width:100%;
	max-height:100%
}

.rC.instagram,
.rC.imgur {
	max-width:37em
}

/* position change */
.rC>.pc {
	text-align:center;
	font-size:10px
}

.docuK eqq {
	display:block;
	background-color:black
}

.docuK.bright eqq {
	background-color:white
}

.docuK .eqCC {
	overflow-x:auto;
	overflow-y:hidden;
	text-align:center;
	padding:1.5em .2em;
	margin:.5em 0;
	background:inherit
}

.docuK .eqN {
	float:right;
	padding-top:1em
}

.docuK eqq.no-N .eqN {
	display:none
}

.docuK .eqC {
	display:inline-block;
	padding:1px;
	max-width:none;
	background:inherit
}

.docuK figure {
	display:block;
	margin:1em 0 2em;
	padding:0;
	text-indent:0
}

.docuK figure img:not([width]) {
	width:auto
}

.docuK .fig {
	margin:1em 0;
	padding:1em;
	border:1px solid gray;
	text-align:center;
	text-indent:0;
	box-shadow:inset 0 0 20px white
}

.docuK.bright .fig {
	box-shadow:inset 0 0 20px black
}

.docuK img {
	max-width:100%;
	border:none;
	width:auto;
	height:auto;
	vertical-align:middle
}

.docuK .fig>.image img {
	display:block;
	margin:0 auto
}

.docuK .fig>.caption {
	display:inline-block;
	padding:0 .5em;
	text-align:justify;
	margin:0 auto;
	text-indent:0
}

.docuK .fig>.caption:first-child {
	padding-bottom:.6em
}

.docuK .fig>.caption:last-child {
	padding-top:.5em
}

/* References and links */
.docuK .inRef {
	display:inline-block;
	border:1px gray solid
}

.docuK .bubbleRef {
	display:none
}

.docuK .bubbleRef>.content {
	z-index:100;
	position:absolute;
	font-size:1em;
	margin-top:.9em;
	left:.3em;
	right:.3em;
	padding:1em;
	background-color:rgb(30, 30, 30)
}

.docuK.bright .bubbleRef>.content {
	background-color:rgb(200, 200, 200)
}

.docuK .bubbleRef>.arrow {
	z-index:99;
	position:absolute;
	width:0;
	height:0;
	border-color:transparent transparent rgb(30, 30, 30);
	border-style:solid;
	border-width:.9em;
	margin-top:-.6em
}

.docuK.bright .bubbleRef>.arrow {
	border-bottom-color:rgb(200, 200, 200)
}

.docuK .bubbleRef .exit {
	z-index:20000;
	position:absolute;
	display:inline-block;
	left:.3em;
	width:1.8em;
	height:1.8em;
	text-align:center;
	margin-top:-1.1em;
	cursor:pointer;
	border:2px rgb(80, 80, 80) solid;
	background-color:rgb(30, 30, 30);
	color:white
}

.docuK .bubbleRef .exit>svg {
	width:100%;
	height:100%;
	font-size:1.8em;
	line-height:1.0
}

#docuK-log {
	position:fixed;
	bottom:0;
	right:0;
	z-index:20000;
	overflow-y:scroll;
	border:2px rgb(150, 150, 150) solid;
	max-width:200px;
	max-height:250px
}

.docuK .fixed {
	position:fixed
}

.exit {
	z-index:31000;
	position:absolute;
	display:inline-block;
	top:0;
	right:0;
	width:3em;
	height:3em;
	line-height:1.0;
	text-align:center;
	cursor:pointer;
	border:2px rgb(80, 80, 80) solid;
	background-color:rgb(30, 30, 30);
	color:white
}

.fs-container .exit {
	width:1.8em;
	height:1.8em
}

.docuK-log.exit {
	position:fixed;
	font-size:2em;
	width:2em;
	height:2em;
	top:auto;
	bottom:250px
}

.exit>svg {
	width:100%;
	height:100%;
	font-size:3em;
	line-height:1.0
}

.block-touch-exit {
	z-index:31000;
	position:fixed
}

.block-touch-exit g {
	stroke:white;
	stroke-width:23%
}

ol,
ul {
	margin:1em 0;
	padding:0
}

dl {
	margin:0 0 1em
}

ol {
	list-style-type:decimal
}

ul {
	list-style-type:disc
}

li,
dd {
	margin:.3em 0 .5em 2em;
	color:rgb(210, 210, 210) !important
}

.docuK.bright li,
.docuK.bright dd {
	color:rgb(40, 40, 40) !important
}

.docuK ol.refs {
	counter-reset:item;
	list-style-type:none
}

.docuK ol.refs>li {
	margin:.3em 0 .5em 2em
}

.docuK ol.refs>li:before {
	content:'[' counter(item, decimal-leading-zero) ']';
	counter-increment:item;
	margin-left:-2em;
	margin-right:.5em
}

.docuK ol.refs>li>.refN {
	display:none
}

.docuK ol.refs>.subsec {
	margin:1.5em 0 0 0
}

.cmt,
.bcf,
.access {
	padding:.5em;
	margin:0 0 1.3em;
	background-color:rgb(15, 15, 15);
	color:white
}

.docuK.bright .cmt,
.docuK.bright .bcf,
.docuK.bright .access {
	background-color:rgb(200, 200, 200);
	color:black
}

.cmt {
	border-left:.5em solid rgb(70, 0, 70)
}

.bcf {
	border-left:.5em solid rgb(0, 70, 70)
}

.access {
	border-left:.5em solid rgb(70, 70, 0)
}

.cmt>.p:last-child,
.docuK .bcf>.p:last-child {
	padding-bottom:.2em
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
pre,
code {
	text-indent:0;
	overflow-wrap:break-word;
	word-wrap:break-word;
	white-space:pre-wrap;
	word-break:break-all
}

pre {
	font-family:"Nanum Gothic Coding", "D2 Coding", Consolas, monospace;
	font-size:.8em;
	line-height:1.5;
	display:block;
	margin:.6em 0 2em;
	padding:.5em;
	border:1px solid white;
	max-height:none;
	overflow-y:scroll
}

pre.scrollable {
	max-height:600px
}

code {
	font-family:monospace;
	font-size:.9em;
	padding:.2em;
	display:inline;
	border:2px solid rgb(200, 150, 150);
	border-radius:.2em;
	background-color:rgb(30, 30, 30)
}

.bright code {
	background-color:rgb(230, 230, 230)
}

pre code {
	font-size:1em;
	padding:0;
	border-width:0;
	background:inherit
}

pre.prettyprint,
code.prettyprint {
	background-color:black
}

.bright pre.prettyprint,
.bright code.prettyprint {
	background-color:rgb(70, 70, 70)
}

/* pre Container, Scrollable Switch (Explaination) */
.preC {
	position:relative;
	margin:.5em 0 2em
}

.preC pre {
	margin:0;
	padding:0
}

.preC .preSSE {
	font-size:.75em;
	border-left:2.5em rgb(80, 0, 0) solid
}

.preC .preSS {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:1.9em;
	cursor:pointer
}

/* Specify class=linenums on a pre to get line numbering */
pre ol.linenums {
	margin:0;
	color:#AEBEAE;
	padding-left:3em
}

pre.prettyprint li {
	margin:0;
	padding:0;
	min-height:1.5em
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
	list-style-type:none
}

li.L4,
li.L9 {
	list-style-type:decimal !important
}

/* Alternate shading for lines */
pre li {
	background:inherit
}

.bright pre li {
	background:inherit
}

pre li:nth-child(2n) {
	background-color:rgb(20, 20, 20)
}

.bright pre li:nth-child(2n) {
	background-color:rgb(90, 90, 90)
}

pre .str,
code .str {
	color:#65B042
}

/* string - green */
pre .kwd,
code .kwd {
	color:#E28964
}

/* keyword - dark pink */
pre .com,
code .com {
	color:#AEAEAE;
	font-style:italic
}

/* comment - gray */
pre .typ,
code .typ {
	color:#89bdff
}

/* type - light blue */
pre .lit,
code .lit {
	color:#3387CC
}

/* literal - blue */
pre .pun,
code .pun {
	color:#fff
}

/* punctuation - white */
pre .pln,
code .pln {
	color:#fff
}

/* plaintext - white */
pre .tag,
code .tag {
	color:#89bdff
}

/* html/xml tag - light blue */
pre .atn,
code .atn {
	color:#bdb76b
}

/* html/xml attribute name - khaki */
pre .atv,
code .atv {
	color:#F3FF64
}

/* html/xml attribute value - yellow */
pre .dec,
code .dec {
	color:#3387CC
}

/* decimal - blue */

.docuK .change-docuK-style {
	font-size:12px;
	line-height:1.6;
	text-align:right;
	margin-top:1.5em;
	padding:.5em;
	color:white;
	background-color:black
}

.docuK.bright .change-docuK-style {
	color:black;
	background-color:white
}

.docuK .change-docuK-style form {
	vertical-align:middle;
	text-indent:0;
	display:inline-block;
	border:2px gray solid;
	padding:2px;
	margin:0
}

.docuK .change-docuK-style form * {
	margin:0;
	padding:0;
	text-align:center;
	vertical-align:middle
}

.docuK .change-docuK-style form button {
	width:29px;
	height:25px;
	padding:0
}

.docuK img[delayed-src] {
	border:15px solid rgb(10, 60, 10);
	min-width:100px;
	min-height:100px
}

div.comments form div.comment-form textarea {
	resize:vertical
}

.comments .comment-list pre.prettyprint {
	font-size:.9em
}

.comments .comment-list pre.prettyprint li {
	padding:0;
}

#disqus_thread {
	background-color:black;
	max-width:1000px;
	margin:2em auto;
	padding:.2em .5em
}

#page-views-chart {
	font-size:9px
}

rect.column {
	fill:rgb(255, 255, 0);
	stroke-width:1;
	stroke:rgb(0, 150, 150)
}

line.bar {
	stroke:#c8c8c8;
	stroke-width:3
}

text.tick {
	fill:#c8c8c8;
	font-size:.8em
}

text.tick.saturday {
	fill:#c584ff
}

text.tick.sunday {
	fill:#ff7b7b
}

text.page-views {
	fill:#6495ed;
	font-size:.7em
}

text.now-local {
	fill:#98fb98;
	font-size:1.1em
}

@media all and (min-width:400px) {
	.docuK ::-webkit-scrollbar {
		width:9px;
		height:9px
	}

	.rC.facebook>.rSC {
		padding-bottom:209%;
	}

	#page-views-chart {
		font-size:9.5px
	}
}

@media all and (min-width:500px) {
	.docuK>.sec {
		border-left:2px rgb(25, 60, 25) solid;
		border-right:2px rgb(25, 60, 25) solid
	}

	.rC.facebook>.rSC {
		padding-bottom:165%;
	}

	#docuK-log {
		max-width:500px;
		max-height:300px
	}

	.docuK-log.exit {
		bottom:300px
	}

	.docuK #floating-key,
	.docuK #toggle-floating-key {
		font-size:1.5em
	}

	#page-views-chart {
		font-size:10px
	}
}

@media all and (min-width:600px) {
	.docuK .SNS-top {
		padding-top:0
	}

	.rC.facebook>.rSC {
		padding-bottom:136%;
	}

	.docuK .deviceInfo,
	.docuK .promoting-docuK {
		margin-left:20em
	}

	.docuK #floating-key,
	.docuK #toggle-floating-key {
		font-size:1.6em
	}

	#page-views-chart {
		font-size:11px
	}
}

@media all and (min-width:700px) {
	.rC.fixed {
		width:50%;
		border-right:.15em solid white
	}

	.rC.instagram.fixed,
	.rC.eveElse.fixed,
	.rC.tiktok.fixed {
		width:360px
	}

	.rC.tiktok>.rSC {
		width:100%;
		height:895px;
		padding-bottom:0
	}

	.docuK #floating-key,
	.docuK #toggle-floating-key {
		font-size:1.7em
	}

	#page-views-chart {
		font-size:12px
	}
}

@media all and (min-width:800px) {
	.docuK #floating-key,
	.docuK #toggle-floating-key {
		font-size:1.8em
	}

	#page-views-chart {
		font-size:13px
	}
}

@media all and (min-width:900px) {
	.rC.fixed {
		width:55%
	}

	.docuK #floating-key,
	.docuK #toggle-floating-key {
		font-size:1.9em
	}

	#page-views-chart {
		font-size:15px
	}

	.rC.imgur>.rSC {
		padding-bottom:150%
	}
}

@media all and (min-height:300px) {
	#fuzzy-search-list {
		max-height:250px
	}
}

@media all and (min-height:400px) {
	#fuzzy-search-list {
		max-height:330px
	}
}

@media all and (min-height:500px) {
	.rC.tiktok.fixed {
		height:480px
	}

	#fuzzy-search-list {
		max-height:410px
	}
}

@media all and (min-height:600px) {
	#fuzzy-search-list {
		max-height:500px
	}
}

@media all and (min-height:905px) {
	.rC.tiktok.fixed {
		height:895px
	}

	.rC.tiktok.fixed>.rSC {
		height:100%;
		padding-bottom:0
	}
}
